<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/static/style.css' />
    <meta charset="UTF-8">
    <title>Ultra garden dashboard</title>
</head>
<body>
<h3>status: {{status}} (fog:{{fog}}, fan:{{fan}}, pump:{{pump}}) for {{last_change}} / up time {{up_time}}</h3>
<h3>Fogging: {{last_fogging}} / {{next_fogging}} ({{fogging_period}}, {{fogging_count}})</h3>
<h3>Watering: {{last_watering}} / {{next_watering}} ({{watering_period}}, {{watering_count}})</h3>
<h3>Brno: {{Brno}}°C ({{Brno_humidity}}%)</h3>
</body>
</html>
